* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
  font-family: "Comfortaa";
  src: url('../fonts/Comfortaa-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

body {
    font-family: "Comfortaa", sans-serif;
    position: fixed; /* Essa propriedade determina a posição. Sendo ela fixa, o scroll é desabilitado. */
    font-size: 16px;
    letter-spacing: 2px;
}

.background {
    height: 100vh;
    width: 100vw;
    background: url("../images/background.jpg");
    background-size: cover;
}

.container {
    height: inherit; /* "inherit" serve para que seja atribuído o valor em herança. */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.quiz-question {
    display: none;
    background-color: rgba(22, 26, 37, 0.534);
    color: white;
    width: 700px;
    height: fit-content;
    padding: 20px;
    margin: 0.3% 0px 0.3% 0px;
    border-radius: 10px;
    box-shadow: 0px 0px 42px 6px rgba(255, 255, 255, 0.1);
}

.score-info {
    flex-direction: row;
    background-color: rgba(22, 26, 37, 0.534);
    color: white;
    width: 700px;
    padding: 20px;
    margin: 2px;
    border-radius: 10px;
    box-shadow: 0px 0px 42px 2px rgba(255, 255, 255, 0.1);
}

.score-info h6 {
    display: inline;
    font-size: 0.8em;
}

.quiz-question.active {
    display: block;
}

.question-title {
    font-weight: normal;
    margin: 30px;
    font-size: 0.9em;
    text-align: justify;
}

.quiz-options {
    display: flex;
    flex-direction: column;
    margin: 30px;
    gap: 5px;
}

.quiz-option {
    padding: 10px;
    background-color: rgba(11, 11, 19, 0.596);
    color: white;
    font-family: inherit; /* "inherit" serve para que seja atribuído o valor em herança. */
    letter-spacing: inherit;
    border-radius: 5px;
    text-align: left;
    border: none;
}

.quiz-option:hover {
     box-shadow: 0px 0px 42px 2px rgba(255, 255, 255, 0.1);
     background-color: rgba(38, 38, 56, 0.596);
}