* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    align-items: center;
}

body {
    font-family: monospace;
    background: linear-gradient(90deg, #609f8c, #7b7bf9);
    min-height: 150vh;
}

header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.container.menu {
    width: 20%;
}

.main-menu {
    margin: 5px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #5fa08c;
}

.cart {
    position: relative;
}

.cart span {
    position: absolute;
    top: -5px;
    right: -5px;
    color: white;
    background-color: brown;
    font-size: 10px;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    text-align: center;
}

.menu-aside {
    position: fixed;
    top: 0;
    right: 0;
    background-color: black;
    justify-content: center;
    height: 100vh;
    width: 120px;
    padding: 10px;
}

.menu-aside nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu-aside a {
    gap: 10px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    position: relative;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 350px;
    min-height: 500px;
    padding: 20px;
    border-radius: 5px;
    background-color: black;
    color: white;
}

.btn-buy {
    width: 100%;
    height: 50px;
    border: none;
    cursor: pointer;
    background-color: white;
}

.p-description {
    text-align: justify;
    line-height: 1.5;
}

.card .badge {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 42px;
    height: auto;
    background-color: brown;
    color: white;
    border-radius: 5px;
    margin: 2px;
    font-size: 16px;
    text-align: center;
}

.card-contain {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.p-title {
    font-size: 16px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 24px;
    margin: 5px;
}

.logo h1 {
    font-size: 20px;
    color: white;
}

.btn-help {
    position: fixed;
    bottom: 20px;
    left: 20px;
}

.img-help {
    width: 32px;
}