* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  height: 50vh;
  gap: 10px;
}

.botao {
  background-color: #ff6600;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  /* controla como as mudanças de estado vão ocorrer
  transition: propriedade controlada; duração, forma de animação */
  transition: all 1s ease;
}

.botao:hover {
  background-color: #a85b28;
  border-radius: 5px;
  /* controla a transformação de um elemento
  transform: método de animação (scale: porcentagem; translate: px; rotate: deg; skew: deg)
  */
  transform: scale(1.15);
}

.box {
  height: fit-content;
  width: fit-content;
  padding: 10px;
  border-radius: 5px;
  background-color: #ff6600;
  color: white;
  text-align: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 3s ease-in forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-out {
  animation: fadeOut 3s ease-out forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in {
  animation: slideIn 3s ease forwards;
}

@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

.slide-out {
  animation: slideOut 1s ease-in forwards;
}

@keyframes zoomIn {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.zoom-in {
  animation: zoomIn 3s ease-out forwards;
}

@keyframes zoomOut {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.5);
    opacity: 0;
  }
}

.zoom-out {
  animation: zoomOut 0.6s ease-in forwards;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.pulse {
  animation: pulse 1s infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotate {
  animation: rotate 3s infinite;
}

@keyframes type {
  from {
    width: 0;
  }
  to {
    width: 22ch;
  }
}

@keyframes glow {
  from {
    border-color: transparent;
  }
  to {
    border-color: black;
  }
}

.typing {
  width: 22ch;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid;
  animation: type 3s steps(22), glow 0.5s step-end infinite alternate;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  border: 6px solid #eee;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 30px;
}

.box.observer {
    opacity: 0;
    transform: translateX(-100%);
}

.box.observer.visible {
    opacity: 1;
    animation: slideIn 2s ease forwards;
}