* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  position: sticky;
  top: 0;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.container {
  display: flex;
  align-items: center;
}

.menu {
  gap: 10px;
}

.menu a {
  color: white;
  text-decoration: none;
}

.menu a:hover {
  color: cadetblue;
}

.img-logo {
  width: 24px;
}

.wpp-link {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.wpp-img {
  width: 32px;
}

.cart {
  position: relative;
}

.cart span {
  position: absolute;
  top: -5px;
  right: -5px;
  color: white;
  background-color: brown;
  font-size: 6px;
  border-radius: 50%;
  padding: 4px;
}

.menu-extra {
  position: relative;
  cursor: pointer;
}

.menu-dropdown {
  position: absolute;
  top: 25px;
  right: -10px;

  display: flex;
  flex-direction: column;

  width: 100px;
  gap: 10px;
  padding: 5px;
  margin: 5px;
  border-radius: 0 0 5% 5%;

  background-color: black;

  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.menu-extra:hover .menu-dropdown {
  opacity: 1;
  transform: translateY(0);
}